@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See all <a href="/parks">reviews</a>!</p>
    <p>Create <a href="/parks/create">reviews</a>!</p>
    <p>See a <a href="/parks/random">random</a> Park.</p>
</div>
